<footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>
          <strong>Бронирование книг</strong> это проект по БД для демонстрации работы СУБД на примере PostreSQL и Flask для РТУ МИРЭА
        </p>
        <ul class="d-flex list-unstyled mb-3">
          <li class="mr-2">
            <a
              href="https://t.me/wibbn"
              target="_blank"
              class="btn btn-icon-only btn-pill btn-primary"
              aria-label="telegram social link"
              data-toggle="tooltip"
              data-placement="top"
              title="Напишите мне в телеграм"
            >
              <span aria-hidden="true" class="fab fa-telegram"></span>
            </a>
          </li>
          <li class="mr-2">
            <a
              href="https://github.com/wibbn"
              target="_blank"
              class="btn btn-icon-only btn-pill btn-primary"
              aria-label="github social link"
              data-toggle="tooltip"
              data-placement="top"
              title="Посмотрите исходный код"
            >
              <span aria-hidden="true" class="fab fa-github"></span>
            </a>
          </li>
        </ul>
        <div
          class="d-flex text-left justify-content-left align-items-left mb-5 mb-lg-0"
          role="contentinfo"
        >
          <p class="font-weight-normal font-small mb-0">
            &copy; Libraries - coded by wibbn
          </p>
        </div>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <h5>Книги</h5>
        <ul class="footer-links list-unstyled mt-2">
          <li class="mb-1">
            <a class="p-2" target="_blank" href="#"
              >Забронировать</a
            >
          </li>
          <li class="mb-1">
            <a
              class="p-2"
              target="_blank"
              href="#"
              >Список</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
