{% extends "layouts/base.html" %}

{% block title %} Order {% endblock %} 

{% block content %}

<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 mb-5">
                <h1>Current orders</h1>
            </div>
        </div>
        {% for order in orders %}
        <div class="row justify-content-center mb-3">
            <div class="col-10 col-md-8">
                <h3>Order #{{order.number}}</h3>
                <table class="table shadow-soft rounded mt-3">
                    <tr>
                        <th class="border-0" scope="col" id="name">Name</th>
                        <th class="border-0" scope="col" id="cover">Cover</th>
                        <th class="border-0" scope="col" id="author">Author</th>
                        <th class="border-0" scope="col" id="ganre">Ganre</th>
                    </tr>
                    {% for book in order['books'] %}
                        <tr>
                            <td headers="name"><b>{{book.name}}</b></th>
                            <td headers="cover" class="d-flex justify-content-center">
                                <img src="../../../static/assets/img/blog/blog-article-{{(book.id-1)%5+1}}.jpg" class="rounded" height="100" alt="Designer desk">
                            </th>
                            <td headers="author">{{book.author}}</td>
                            <td headers="ganre">{{book.category}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
        
{% endblock content %}
